config_credentials.json
iot_devices_auth/
src/__pycache__
iot_device_simulator/src/__pycache__
lambda_functions/cold-to-archive-mover/zipped.zip
lambda_functions/default-processor/zipped.zip
lambda_functions/dispatcher/zipped.zip
lambda_functions/hot-to-cold-mover/zipped.zip
lambda_functions/persister/zipped.zip
lambda_functions/hot-reader/zipped.zip
lambda_functions/hot-reader-last-entry/zipped.zip
lambda_functions/event-checker/zipped.zip
event_actions/high-temperature-callback/zipped.zip