config_credentials.json
iot_devices_auth/

src/__pycache__
src/deployers/__pycache__
iot_device_simulator/src/__pycache__

lambda_functions/core/dispatcher/zipped.zip
lambda_functions/core/persister/zipped.zip
lambda_functions/core/hot-reader/zipped.zip
lambda_functions/core/hot-reader-last-entry/zipped.zip
lambda_functions/core/hot-to-cold-mover/zipped.zip
lambda_functions/core/cold-to-archive-mover/zipped.zip
lambda_functions/core/event-checker/zipped.zip

lambda_functions/processors/_default/zipped.zip
lambda_functions/processors/temperature-sensor-2/zipped.zip

lambda_functions/event_actions/high-temperature-callback/zipped.zip
